<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" type="text/css"
          href={{ url_for('static', filename='stylesheet.css') }}>
    <script src=" http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>
        $(document).ready(function () {
            let socket = io.connect(
                location.protocol + '//' + document.domain + ':' + location.port
            );

            $('#start').click(function () {
                console.log('start');
                socket.emit('start')
            });

            $('#stop').submit(function () {
                socket.emit('stop', {winner: $('#winner').val()})
            })
        })
    </script>
</head>
<body>
<div id="main">
    <h2>This is the settings page</h2><br>
    <button id="start">Start</button>
    <br>
    <form id="stop">
        <input type="text" title="Winner" id="winner">
        <input type="submit">
    </form>
</div>
</body>
</html>