<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Settings</title>
  <link rel="stylesheet" type="text/css"
        href={{ url_for('static', filename='stylesheet.css') }}>
  <script src=" http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script>
      $(function () {
          let socket = io.connect(
              location.protocol + '//' + document.domain + ':' + location.port
          );
          let selected = 0;

          $('#start').click(function () {
              console.log('start');
              socket.emit('start')
          });

          $('#stop').click(function () {
              socket.emit('stop', {winner: selected})
          });

          $('img.student').click(function () {
              $('img#' + selected).css({border: '3px solid lightblue'});
              selected = parseInt($(this).attr('id'));
              $(this).css({border: '3px solid red'})
          })
      })
  </script>
</head>
<body>
<div id="navbar">
  <div class="dummy"></div>
  <div id="navbar-title">Settings</div>
  <div id="navbar-buttons">
    <button id="start">Start</button>
    <button id="stop">Stop</button>
  </div>
</div>
<br>
<div id="students">
  {% for student in students %}
    <div class="student">
      <img src="{{ student.image_path }}" class="student"
           id="{{ student.id }}" width="150px" height="150px"/>
      <br>
      {{ student.name }}
    </div>
  {% endfor %}
</div>
<script>
    $(function () {
        $('#stop').click(function () {
            const btn_start = $('#start');
            const btn_stop = $(this);
            const time = 7000;
            let count = Math.round(time / 1000);
            const text = 'Please wait ';
            btn_start.prop('disabled', true);
            btn_stop.prop('disabled', true);
            let text_temp = text + count + ' sec';
            btn_start.html(text_temp);
            btn_stop.html(text_temp);
            const countInterval = window.setInterval(function () {
                count--;
                text_temp = text + count + ' sec';
                btn_start.html(text_temp);
                btn_stop.html(text_temp);
            }, 1000);
            window.setTimeout(function () {
                btn_start.html('Start');
                btn_stop.html('Stop');
                btn_start.prop('disabled', false);
                btn_stop.prop('disabled', false);
                clearInterval(countInterval);
            }, time);
        });
    });
</script>
</body>
</html>
